fastapi
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
psycopg2-binary
email-validator
fastapi-mail
jinja2
stripe
paypalrestsdk
loguru
boto3
oss2
Pillow